{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans 'Register Page' %} {% endblock title%}

<!-- Populating content block in base template -->
{% block content %}
    <div class="form-content my-3 p-3">
		<div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-5">
                        <div class="card-header justify-content-center">
                        	<h3 class="font-weight-light my-4 text-center">{% trans 'Create Account' %}</h3>
                        </div>
                        <div class="card-body p-5">
                            <form method="POST">
                                {% csrf_token %}

                                <!-- Form errors -->
                                {% if form.errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div id="form_errors">
                                            {% for key, value in form.errors.items %}
                                                <strong>{{ value }}</strong>
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}

                                <!-- Registration form -->
                                <div class="form-row">                                    
                                    <div class="form-group">
                                        <label class="small mb-1">{% trans 'First Name' %}</label>
                                        {{ form.first_name }}
                                    </div>                                                                        
                                    <div class="form-group">
                                        <label class="small mb-1">{% trans 'Last Name' %}</label>
                                        {{ form.last_name }}
                                    </div>
                                </div>
                                <div class="form-row">
		                            <div class="form-group">
		                                <label class="small mb-1">{% trans 'Username' %}</label>
		                                {{ form.username }}
		                            </div>
		                            <div class="form-group">
		                                <label class="small mb-1">{% trans 'Email' %}</label>
		                                {{ form.email }}
		                            </div>		                        
		                        </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <label class="small mb-1">{% trans 'Password' %}</label>
                                        {{ form.password1 }}
                                        {{ form.errors.password }}
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1">{% trans 'Confirm Password' %}</label>
                                        {{ form.password2 }}
                                    </div>
                                </div>
                                <div class="form-group mt-4 mb-0">
                                    <button type="submit" class="col-md-12 btn btn-primary">{% trans 'Sign Up' %}</button><br><br>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <div class="small">
                                <a href="{% url 'login' %}">{% trans 'Already have an account? Go to Sign in' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
{% endblock content %}